.Mereja {
  background-color: #242f3d;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.st {
  color: white;
  background-color: #4D729F;
  font-size: 1.5em;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0.1em;
}
.titlebar {
  padding: 1.5px;
  display: flex;
  justify-content:center;
  flex-direction: column;

  width: 50%;

  color: white;
  font-size: 1.5em;
}
.Mereja button {
  color: white !important;
  width: 50%;
  border: none !important;
  opacity: 0.75 !important;
}
.Mereja Button:hover {
  background-color: #020203 !important;
  opacity: 1 !important;
}

.row_posters {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
   margin-left: 6%;
   font-size: ".9em";
}
.row_posters th{
  padding: .6em;
  background-color: #2f4460;
  color: white;
  font-size: 1em;
  white-space: nowrap;
}

.row-even {
  background-color: #B8C8F0; 
}

.row-odd {
  background-color: #4D729F; 
}
.row_posters .s-1{
  padding-left: 5em;
  padding-right: 5em;
}
.row_posters .s-2{
  padding-left: 4em;
  padding-right: 4em;
}  
.row_posters .s-3{
  padding-left: 3em;
  padding-right: 3em;
}
.row_posters .s-4{
  padding-left: 1em;
  padding-right: 1em;
}  



.row_posters .th{
  padding-top: 0;
  background-color: #cac2c2;
  padding-bottom: 0;
}
.row_posters::-webkit-scrollbar {
  display: none;
}
.title-row{
  background-color:#767f8a ;
  padding-top: 2em;



}
.editors {
  background-color: #10b5be !important;

  border-radius: 2px;
  border: none;
}
.search-container{
 
  background-color: #2f4460 !important;
  border-radius: 2px;
  border: none;
  color: lightblue !important;
  
  padding: 1em;
  display: flex;
}
