* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.logo img {
  width: 90%;
  height: 100vh;
  margin-top: 2.5em;
}
.firewoch,
.wotatoch {
  display: flex;
  justify-content: space-between;

  margin-top: 50px !important;
  width: 80%;
  margin: 0 auto;
}
.firewoch img {
  height: 80vh;

  margin-right: 30px;
}
.wotatoch img {
  height: 84vh;
}
.firewoch p {
  height: 80vh;
  font-size: 3.4vh;
  padding: 1em;
  /* color: rgb(244, 231, 231); */
  opacity: 0.5;
  border: dashed 1px white;
}
.wotatoch p {
  padding: 1em;

  font-size: 3.7vh;

  opacity: 0.5;
  border: dashed 1px white;

  margin-right: 30px;

  height: 84vh;
}
.meakel img {
  height: 80vh;
  width: 80vh;
}
.meakel p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 3vh;
}
.dekikan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;

  margin: 30px auto;
}
.dekikan p {
  font-size: 1.1em;
  margin-right: 30px;
  padding: 0.3em;
  /* color: rgb(244, 231, 231); */
  opacity: 0.5;
  border: dashed 1px white;
}

.dekikan img {
  width: 500px;
}

.buttonList {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #1565c0;
}

.buttonList button {
  background-color: #1565c0;
  border: none;
  margin: 0.7em;
  color: white;
  cursor: pointer;
  font-size: 1em;
}

.higigat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* text-align: center; */
  margin-left: 8%;

}

.higigat h2,.higigat h3{
  margin-left: 35%;
}

.higigat p {
  display: flex;
  align-items: center;
  text-align: left;
  margin-left: 1em;
}

.higigat p > .MuiSvgIcon-root {
  color: #1565C0;
  margin-right: 0.5em;
}
