.chart {
  width: 50%;
  height: 100px !important;
  margin: 0 auto;
}

.chartsone {
  display: flex;
  justify-content: space-evenly;
}
.chartstwo {
  display: flex;
 
  flex-direction: column;
  align-items: center;
}
